doctype html
html(lang="en")
    head
        include partials/head
    body.login
        .contenedor-formulario 
            h1= nombrePagina
            p Agrega tu email para reestablecer tu contraseña

            form#formulario.caja.caja-login(method="POST" action="/reestablecer-password")
                .campo
                    label(for="email") Email:
                    input(type="email" name="email" placeholder="Tu Email" value= email)
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer Password")
                .campo.acciones 
                    a(href="/iniciar-sesion") Volver a Iniciar Sesión